.bi-x {
    color: var(--title-color);
}

.services-container {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.services-content {
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--contaier-color);
    padding: 6rem 0 2rem 2.5rem;
}

.services-icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);

}

.services-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services-button {
    color: var(--text-color);
    font-size: var(--s-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.services-button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.services-button:hover .services-button-icon {
    transform: translateX(0.25rem);
}

.services-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.services-modal-content {
    width: 500px;
    position: relative;
    background-color: var(--contaier-color);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.services-modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--body-muted-color);
    cursor: pointer;
    background-color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border-radius: 50px;
}

.services-modal-title, .services-modal-description {
    text-align: center;
}

.services-modal-title {
    font-size: var(--xl-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.services-modal-description {
    font-size: var(--xs-size);
    padding: 0 3.5rem;
    margin-bottom: var(--mb-2);
    color: var(--title-color);
}

.services-modal-services {
    row-gap: 0.75rem;
}

.services-modal-service {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.services-modal-icon {
    color: var(--title-color);
    font-size: 1.1rem;
}

.services-modal-info {
    font-size: var(--xs-size);
    color: var(--text-color);
}

/* Active Modal */

.active-modal {
    opacity: 1;
    visibility: visible;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .services-container {
        grid-template-columns: repeat(3, 218px);
    }
  }

  @media screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-content {
       padding: 3.5rem 0.5rem 1.25rem 1.5rem; 
    }

    .services-icon {
        font-size: 1.5rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .services-modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .services-modal-description {
        padding: 0;

    }
  }
  
  @media screen and (max-width: 350px) {
    .services-container {
        grid-template-columns: max-content;
    }

    .services-content {
        padding: 6rem;
    }
  }