.skills-container {
    grid-template-columns: repeat(2, 420px);
    column-gap: 3rem;
    justify-content: center;
}

.skills-content {
    background-color: var(--contaier-color);
    border: 1px solid var(--border-color);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
    color: var(--text-color);
    text-align: center;
}

.skills-box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bi-patch-check {
    font-size: 1rem;
    color: var(--text-color);
}

.skills-name {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills-level {
    font-size: var(--xs-size);
    color: var(--text-color);
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .skills-container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  @media screen and (max-width: 576px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-content {
        padding: 1.5rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    .skills-box {
        column-gap: 1.25rem;
    }

    .skills-name {
        font-size: var(--s-size);
    }
  }