.bi-list {
  font-size: var(--xxl-size);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--title-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-logo, .nav-toggle {
    color: var(--body-color);
    font-weight: var(--font-bold);
    font-family: var(--text-font);
    font-size: var(--r-size);
}

.nav-logo:hover {
    color: var(--text-color);
    transition: 0.4s;
}

.nav-toggle:hover {
  color: var(--text-color);
  transition: 0.4s;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--r-size);  
    color: var(--body-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.nav-icon, .nav-close, .nav-toggle {
    display: none;
}

/* Active Link */
.active-link, .nav-link:hover {
    color: var(--text-color)
}

/* Change Header Background */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}


/* Breakpoints */
/* For medium size devices */
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: var(--header-height);
  }

  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--title-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.3);
    /* border-radius: 1rem 1rem 0 0; */
    transition: 0.3s;
  }

  .nav-close::before {
    font-size: var(--xxl-size);
    background-color: var(--text-color);
    border-radius: 50%;
    color: var(--body-color);
  }

  .nav-link {
    color: var(--body-color);
  }

  /* Show Menu */
  .show-menu {
    bottom: 0;
  }

  .nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .nav-icon {
    font-size: 1.2rem;
    color: var(--body-color);
  }

  .nav-close {
    position: absolute;
    left: calc(50% - 2.5vw);
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color)
  }

  .nav-toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav-close:hover {
    color: var(--title-color-dark)
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: block;
    /* margin-right: 47%; */
  }

  .nav-logo {
    display: none;
  }
}

/* For small size devices */
@media screen and (max-width: 350px) {
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .nav-close {
    left: calc(50% - 7vw);
  }

  .nav-logo {
    display: none;
  }
}