.testimonials {
    margin: 0 auto;
    background-color: var(--body-color) !important;
}

.testimonials-container {
    width: 750px;
}

.testimonial-card {
    background-color: var(--contaier-color);
    border: 1px solid var(--border-color);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.testimonial-image {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.testimonial-name {
    font-size: var(--r-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.testimonial-description {
    color: var(--text-color);
    font-size: var(--s-size);
}

/* Swiper Class */

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* Breakpoints */
@media screen and (max-width: 992px) {
    .testimonials-container {
        width: 650px;
    }

    .testimonial-card {
        padding: 1.25rem 1.5rem;
    }

  }

  @media screen and (max-width: 768px) {
    .testimonials-container {
        width: 500px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .testimonials-container {
        width: 325px;
    }
  }
  
  @media screen and (max-width: 350px) {

  }