.project-container {

}

.project-card {

}

.project-title {
    color: var(--title-color);
    margin-bottom: var(--mb-1);
    font-size: var(--xl-size);
}

.project-subtitle {
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.project-image {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    justify-self: center;
    margin-block: var(--mb-1);
}

.project-deployed-button {
    margin-right: var(--mb-0-5);
}

.project-repo-button {

}